# LIST

In [2]:
list = ["ram", "sita", "raghav",200,300,100,0.23]
list

['ram', 'sita', 'raghav', 200, 300, 100, 0.23]

#  List and functions

In [3]:
list.append("ravi")
list

['ram', 'sita', 'raghav', 200, 300, 100, 0.23, 'ravi']

In [4]:
list1 = list.copy()
list1

['ram', 'sita', 'raghav', 200, 300, 100, 0.23, 'ravi']

In [5]:
list.remove("sita")
list

['ram', 'raghav', 200, 300, 100, 0.23, 'ravi']

In [7]:
list.pop(1)
list

['ram', 200, 300, 100, 0.23, 'ravi']

In [8]:
list.clear()
list

[]

# Dictionary

In [1]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Dict

{'Tim': 18, 'Charlie': 12, 'Tiffany': 22, 'Robert': 25}

# Dictionary and functions

In [2]:
del Dict ['Charlie']
Dict

{'Tim': 18, 'Tiffany': 22, 'Robert': 25}

In [3]:
Dict.update({"Sarah":9})
Dict

{'Tim': 18, 'Tiffany': 22, 'Robert': 25, 'Sarah': 9}

In [4]:
Dict.setdefault("raghav")
Dict

{'Tim': 18, 'Tiffany': 22, 'Robert': 25, 'Sarah': 9, 'raghav': None}

In [5]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("price", 15000)

print(x)

15000

In [6]:
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }
print(sales.values())

dict_values([2, 3, 4])

# set

In [7]:
set(['a', 'e', 'i', 'o', 'u'])

{'a', 'e', 'i', 'o', 'u'}

# sets and functions

In [8]:
vowels = {'a', 'e', 'i', 'u'}
vowels.add('o')
vowels

{'a', 'e', 'i', 'o', 'u'}

In [9]:
vowels.remove('a')
vowels

{'e', 'i', 'o', 'u'}

In [10]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A & B)

{4, 5}

In [12]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A - B)

{1, 2, 3}

# Tuple

In [13]:
my_tuple = (1, "Hello", 3.4)
my_tuple

(1, 'Hello', 3.4)

# Tuple and default methods

In [14]:
vowels = ('a', 'e', 'i', 'o', 'i', 'u')
index = vowels.index('e')
print('The index of e:', index)

The index of e: 1

In [15]:
vowels = ('a', 'e', 'i', 'o', 'i', 'u')
count = vowels.count('i')
print('The count of i is:', count)

The count of i is: 2

# Strings

In [16]:
my_string = 'Hello'
(my_string)

'Hello'

# strings and default methods

In [17]:
str = 'programiz'
print('str = ', str)
print('str[0] = ', str[0])
print('str[1:5] = ', str[1:5])

str =  programiz
str[0] =  p
str[1:5] =  rogr